body{
    background-color: rgb(143, 175, 178);
    justify-content: center;
    align-items: center;
    height:10vh;
    background: rgb(14, 14, 160);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
table{
    width: 10px;
    margin: 20px;
    border-radius: 10px;
}
form{
    color: rgb(10, 9, 8);
    width: 200px;
    margin: 50px;
    padding: 20px;
   
    
}
input{
    width: 150%;
    padding: 20px;
    margin:10px 0;
}
button{
    background: plum;
    color:antiquewhite;
    padding:10px;
    width:150%;
}